.auth-container {
  display: flex;
  height: 93vh;
  background-color: #e8e8e8;
}

.left {
  width: 35vw;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: left;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
  background-color: #e8e8e8;
}

.right {
  flex: 1;
  justify-content: center;
  background-color: 222831;
  transition: 1s;
  background-image: url('https://i.pinimg.com/originals/9a/70/65/9a7065bd0d0df7a84773ce2dfa150dcf.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header h2 {
  font-size: 2rem;
  margin: 0 auto;
  color: #f05454;
  width: 100%;
  /* text-align: center; */
}

.header h4 {
  margin: 40px auto;
  font-weight: normal;
  font-size: 15px;
  color: #30475e;
  width: 100%;
  /* text-align: center; */
}

.form {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form > p {
  text-align: right;
}

.form > p > a {
  color: #30475e;
  font-size: 14px;
}

.form-field {
  height: 46px;
  width: 90%;
  padding: 0 16px;
  border: 2px solid #30475e;
  border-radius: 4px;
  font-family: 'Rubik', sans-serif;
  outline: 0;
  transition: .2s;
  margin: 10px 0;
}

.form-field input{
  background-color: #e8e8e8 !important;
}
.form-field:focus {
  border-color: #f05454;
}

.form-field-box {
  width: 100%;
}

.form > button {
  padding: 12px 10px;
  border: 0;
  background: linear-gradient(to right, #de48b5 0%,#0097ff 100%); 
  border-radius: 3px;
  margin-top: 10px;
  color: #fff;
  letter-spacing: 1px;
  font-family: 'Rubik', sans-serif;
}

.animation {
  animation-name: move;
  animation-duration: .4s;
  animation-fill-mode: both;
  animation-delay: 2s;
}

.a1 {
  animation-delay: 2s;
}

.a2 {
  animation-delay: 2.1s;
}

.a3 {
  animation-delay: 2.2s;
}

.a4 {
  animation-delay: 2.3s;
}

.a5 {
  animation-delay: 2.4s;
}

.a6 {
  animation-delay: 2.5s;
}

.a7 {
  animation-delay: 2.6s;
}

@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 440px;
  }
}