.active-challenge-details-user-info-container {
  display: flex;
  justify-content: space-around;
}

.active-challenge-details-user-info-text {
  display: flex;
  flex-direction: column;
}

.activeContainer {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  text-align: left;
}

.progress {
  padding: 3vw
}

.preview-title {
  width: 100%
}