.awesome-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid #30475e; */
  border-radius: 5px;
  width: 20vw;
  height: 20vw;
}

.active-preview-no-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60vw;
  margin: 0;
}