.instruction-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  /* border: 1px solid #f05454; */
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  padding: 30px;
  line-height: 3rem;
  color: #222831;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.instruction-container h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #f05454;
  margin: 30px auto;
  text-align: center;
}

.instruction-container h4 {
  font-family: Rubik;
  font-size: 1.3rem;
  font-weight: 400;
  color: #30475e;
  margin: 10px auto;
  text-align: center;
  line-height: 2rem;
}

.button-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.one-button {
  width: 100%;
  margin: 20px;
}

.one-button h5 {
  color: #f05454;
  font-family: Rubik;
  font-size: 1.2rem;
  font-weight: 500;
}

.active-preview {
  flex: display;
  flex-flow: nowrap;
  justify-content: space-between;
  width: 80vw;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px auto;
  padding: 15px;
  font-family: Rubik;
}

.active-preview button {
  width: 150px
}

.preview-title {
  width: 30%;
  margin: 0 5px;
  padding: 10px;
  overflow: wrap;
}

.preview-tracker {
  width: 30%;
  margin: 0 5px;
  padding: 10px;
}

.preview-streak {
  width: 30%;
  margin: 0 5px;
  padding: 10px;
}

.welcome-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 100%;
}

.scroll-container {
  display: block;
  margin: 0 auto;
  padding: 30px 50px;
  text-align: center;
  width: 100vw;
  /* height: 60vh; */
}



.light {
  background-color: #e8e8e8;
}

.light h1, h2, h3, h4, h5, h6, p {
  color: #222831;
}

.dark {
  background-color: #222831;
}

.dark h1, h2, h3, h4, h5, h6, p {
  color: #e8e8e8;
}

.one {
  width: 100vw;
  /* opacity: 0.8; */
  vertical-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  background-image: url('./background5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.one-text {
  width: 60vw;
  padding: 20px;
  margin: 0 auto;
  background-color: #e8e8e8;
  opacity: 0.6;
}

.one h1, h2 {
  font-family: Rubik;
  color: #222831;
  width: 80%;
  margin: 30px auto;
  opacity: 1;
}

.one h1 {
  font-size: 4vw;
  font-weight: 600;
}

.one h2 {
  font-size: 2vw;
  font-weight: 400;
}

.two { 
  background-color: #222831;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.two h1 {
  font-family: Rubik;
  font-size: 2rem;
  color: #e8e8e8;
  margin: 50px auto;
}

.three {
  text-align: center;
  height: 100%;
}

.three h1 {
  font-family: Rubik;
  font-size: 2rem;
  color: #222831;
  margin: 30px auto;
}

.three h3 {
  font-family: Rubik;
  font-size: 1.5rem;
  font-weight: 500;
  color: #f05454;
  /* margin: 30px auto; */
}

.three p {
  font-family: Rubik;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #222831;
  /* margin: 30px auto; */
}

.how-container {
  display: flex;
  flex-flow: column nowrap;
  margin: 50px;
}

.how-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.how-box-text {
  width: 40vw;
  padding: 20px 60px;
}

.how-box-text p {
  line-height: 1.5;
}

.how-box img {
  height: 35vh;
  justify-self: center;
  border: 1px dotted #30475e;
}

.step-one, .step-two {
  margin-bottom: 30px;
}
.step-one, .step-three {
  text-align: left
}

.step-two {
  text-align: right;
}

.four {
  display: flex;
  justify-content: center;
  text-align: left;
  height: 100%;
}

.four h1 {
  font-family: Rubik;
  font-size: 2rem;
  color: #e8e8e8;
  text-align: center;
  margin: 30px auto;
}

.four p {
  font-size: 1.4rem;
  font-weight: 300;
  /* margin: 30px 100px; */
}

.four ul {
  /* margin: 30px 100px; */
  margin-left: 15vw;
}

.four li {
  color: #e8e8e8;
  font-size: 1.2rem;
  font-weight: 300;
}

.tips {
  width: 60vw;
  margin: 0 auto;
}


/* ACTIVE CHALLENGE DETAILS */

.active-challenge-details-user-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.active-challenge-details-user-info-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 35vw;
  /* border: 2px, solid, black/ */
}

.activeContainer {
  border: 2px solid  #222831;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  /* align-items: cetner; */
  text-align: left;
  margin: 10px;
  padding: 10px
  /* height: flex; */
}

.progress {
  padding: 3vw
}

.preview-title {
  width: 100%
}


/* ACTIVE CHALLENGE PREVIEW */

.awesome-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* FULL TRACKER */

.completed {
  background-color:#e8e8e8;
  width: 50px;
  height: 50px;
  border: 2px solid #222831;
  border-radius: 3px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('./check.png');
  background-size: cover;
  color: #e8e8e8;
}

.failed {
  background-color: #e8e8e8;
  width: 50px;
  height: 50px;
  border: 2px solid #222831;
  border-radius: 3px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('./x.png');
  color: #e8e8e8
}

.not-attempted {
  background-color: #e8e8e8;
  width: 50px;
  height: 50px;
  border: 2px solid #222831;
  border-radius: 3px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.full-tracker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.set-of-five-checkboxes {
  display: flex
}

.days-left {
  /* border: 2px solid #222831; */
  border-radius: 3px;
  width: 130px;
  /* height: 140px; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
}

.days-left h1 {
  color:  #30475e
}

.loser-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #30475e;
  border: 2px solid #30475e;
  color: #e8e8e8;
  font-size: 1.5vw;
  font-family: Rubik;
}

.prize {
  color: #30475e
}

.active-challenge-details-prize {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 60px;
}

.active-challenge-details-prize p {
  margin: 0;
  padding: 0
}

.days-left-and-prize {
  /* border: 2px solid #30475e; */
  border-radius: 5px;
  padding: 10px
}

.days-left-and-prize h1 {
  margin: 0
}

.streak-info-details b {
  color: #30475e
}