.completed {
  background-color: #30475e;
  width: 50px;
  height: 50px;
  border: 2px solid #222831;
  border-radius: 3px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.failed {
  background-color: #f05454;
  width: 50px;
  height: 50px;
  border: 2px solid #222831;
  border-radius: 3px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('./Transparent_X.png');
  background-size: cover;
}

.not-attempted {
  background-color: #e8e8e8;
  width: 50px;
  height: 50px;
  border: 2px solid #222831;
  border-radius: 3px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.set-of-five-checkboxes {
  display: flex
}
