.completed {
  background-color: #30475e;
  width: 4vw;
  height: 4vw
}

.failed {
  background-color: #f05454;
  width: 4vw;
  height: 4vw;
}

.not-attempted {
  background-color: #e8e8e8;
  width: 4vw;
  height: 4vw;
}

.set-of-five-checkboxes {
  display: flex
}
