*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background-color: #FAF3DD;
}

.tool-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around
}
.tool-bar img {
  width: 40px;
}

.challenges-container{
  width: 80%;
  min-height: 100vh;  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 5px;
}

.card-header p {
  margin: 0 0 10px 0;
}

.card-header img {
  width: 20px;
  height: 70%;
}

.card {
  background-color: #C8D5B9;
  width: 250px;
  min-height: 250px * 1.618;
  text-align: center;
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  margin: 5px;
  
  -webkit-box-shadow: -20px -20px 0px 0px lighten(#68B0AB, 5%);
  
          box-shadow: -20px -20px 0px 0px lighten(#68B0AB, 5%);
  border-radius: 10px;
  
  -webkit-animation-name: shadow-show; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
  animation-name: shadow-show;
  animation-duration: 1.5s;
  
  -webkit-transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000);
  -o-transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000);
  transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000); /* custom */
}
  
  h1,h2,h3,h4,h5 {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.4rem;
    color: #696D7D;
  }
  
  hr {
    display: block;
    border: none;
    height: 3px;
    background-color: #696D7D;
    margin: 0px;
    
    -webkit-animation-name: line-show; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.3s; /* Safari 4.0 - 8.0 */
    animation-name: line-show;
    animation-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000);
    -o-transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000);
    transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000); /* custom */
  }
  
  p {
    margin: 15px 0px 0px 0px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    letter-spacing: -0.25px;
    line-height: 1.25;
    font-size: 16px;
    word-break: break-all;
    word-wrap: pre-wrap;
    color: #696D7D;
    
    -webkit-animation-name: p-show; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
    animation-name: p-show;
    animation-duration: 1.5s;
  }
  
  button {
    border: none;
    background-color: #696D7D;
    width: 40%;
    margin-top: 10px;;
    padding: 10px 15px;
    color: #FAF3DD;
    font-family: 'Noto Sans KR', sans-serif;
    text-transform: uppercase;
  }

  a {
    margin: 0;
  }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes line-show {
  from {margin: 0px 100px;}
  to {margin: 0px;}
}

/* Standard syntax */
@keyframes line-show {
  from {margin: 0px 100px;}
  to {margin: 0px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes p-show {
  from {color: #FAF3DD;}
  to {color: #696D7D;}
}

/* Standard syntax */
@keyframes p-show {
  from {color: #FAF3DD;}
  to {color: #696D7D;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes shadow-show {
  from {
    -webkit-box-shadow: 0px 0px 0px 0px #e0e0e0;
    box-shadow: 0px 0px 0px 0px #e0e0e0;
  }
  to {
    -webkit-box-shadow: -20px -20px 0px 0px lighten(#C8D5B9, 5%);
    box-shadow: -20px -20px 0px 0px lighten(#C8D5B9, 5%);
  }
}

/* Standard syntax */
@keyframes shadow-show {
  from {-webkit-box-shadow: 0px 0px 0px 0px #e0e0e0;box-shadow: 0px 0px 0px 0px #e0e0e0;}
  to {-webkit-box-shadow: -20px -20px 0px 0px lighten(#C8D5B9, 5%); box-shadow: -20px -20px 0px 0px lighten(#C8D5B9, 5%);}
}