.create-challenge-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-challenge-form {
  padding: 0;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px #222831;
  padding: 4vw;
  margin: 4vw
}

/* .create-challenge-form h1 {
  color: #68B0AB
} */

.create-challenge-form button {
  width: 150px;
}

.create-challenge-form input {
  width: 50vw;
}

.create-challenge-form-item {
  text-align: left;
  margin: 1vw;
}

.create-challenge-form-item input {
  margin: 1vw 0 
}
.create-challenge-form-select {
  width: 50vw
}

.create-challenge-buttons {
  width: 40vw;
  display: flex;
  justify-content: space-around;
}
