
.start-challenge-page {
  height: 100vw;
  /* background-color: #f8f9fa; */
  display: flex; 
  justify-content: center;
  align-items: start;
}

.start-challenge-page h1{
    color: #f05454;
    margin: 0;
}

.start-challenge-page h2 {
  color: #30475e
}

.start-challenge-page p {

}

.start-challenge-page-content {
  margin: 0;
  padding: 0;
  width: 50vw;
  /* border: 2px solid #6c757d; */
  margin: 3vw;
  padding: 3vw;
  border-radius: 10px;
}