.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #30475e;
  padding: 15px 20px;
}

.links {
  display: flex;
  flex-direction: row;
}

.link {
  color: #e8e8e8;
  margin-right: 20px;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 600;
}

